<div *ngIf="paso === 0" class="container">
  <h1>{{ title }}</h1>
  <label for="cantidad">¿Cuántos jugadores quieres registrar?</label>
  <input id="cantidad" type="number" [(ngModel)]="cantidadJugadores" min="1" max="3" class="input" />
  <button (click)="paso = 1" class="btn">Continuar</button>
</div>

<div *ngIf="paso === 1" class="container">
  <h2>Jugador {{ jugadores.length + 1 }} de {{ cantidadJugadores }}</h2>
  <label>ID:</label>
  <input type="number" [(ngModel)]="jugadorActual.id" class="input" />
  <label>Nombre:</label>
  <input type="text" [(ngModel)]="jugadorActual.nombre" class="input" />
  <label>Rol:</label>
  <select [(ngModel)]="jugadorActual.rol" class="input">
    <option value="Administrador">Administrador</option>
    <option value="COMERCIANTE">COMERCIANTE</option>
    <option value="CARAVANERO">CARAVANERO</option>

    
  </select>
  <button (click)="continuar()" class="btn">Guardar jugador</button>
</div>

<div *ngIf="paso === 2" class="main-layout">
  <!-- IZQUIERDA -->
  <div class="sidebar-left">
    <app-caravana [caravana]="caravana"></app-caravana>
  </div>

  <!-- CENTRO -->
  <div class="main-content">
    <app-ciudad-list [caravana]="caravana" (seleccionCiudad)="ciudadActual = $event"></app-ciudad-list>

  </div>

  <!-- DERECHA -->
  <div class="sidebar-right">
    <div *ngIf="ciudadActual" class="ciudad-actual-box">
      <h3>📍 Ciudad actual</h3>
      <p>{{ ciudadActual }}</p>
    </div>
  </div>
</div>
